html {
	background: linear-gradient(#888, #000);
    background-repeat: no-repeat;
    min-height: 100%;
    color: #fff;
    text-shadow: 0px 0px 5px black;
    box-shadow: inset 0px 0px 150px 0px black;
}

header {
	display: block !important;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	padding-left: 16px;
	padding-right: 16px;
	backdrop-filter: blur(8px);
	text-align: right;
	z-index: 1;
	opacity: .8;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,.5);
    background: linear-gradient(to right, #1878bb, #cb67ce, #f5638a, #f5dc83);
}

header, header::selection {
	pointer-events: none;
	tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
header::selection {
	background: transparent !important;
}
content {
	position: relative;
	max-width: 960px;
	padding: 16px !important;
    margin-left: auto;
    margin-right: auto;
}

content > view {
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	width: 100%;
	padding: 16px;
}

content > view > card {
	display: block !important;
	background: #fff;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .125);
	padding: 16px;
	border-radius: 3px;
	margin-top: 8px;
	margin-bottom: 12px;
}

aside {
	display: none;
}

aboutme {
	display: block;
}

aboutme h1 {
    line-height: 64px;
}
aboutme > img {
	display: block !important;
	border-radius: 100%;
	max-width: 160px;
	background: black;
    margin-bottom: 64px;
    box-shadow: -4px 8px 12px -2px #404040;
}

aboutme > div {
	position: relative;
}

aboutme social_links {
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 8px;
}

aboutme social_links > a {
	text-decoration: none;
	display: inline-block;
	padding: 12px 12px;
	border-radius: 4px;
    margin-left: 8px;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,.25);
}

aboutme social_links > a[insta] {
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,.25), inset 2px 8px 4px 0px #bc2a8d;
}

/* desktops/hi-dpi */
@media (min-width: 1024px) {
	aside {
		display: block;
		position: fixed;
		top: 40px;
		right: 0px;
		bottom: 0px;
		width: 320px;
		min-width: 320px;
		max-width: 320px;
		background: #263238;
		padding: 32px;
		line-height: 32px;
	}
}
@media (min-height: 1360px) {
	content {
        margin-top: 200px !important;
	}
}
@media (min-height: 1024px) {
	content {
        margin-top: 100px !important;
	}
}
@media (min-height: 720px) {
	content {
        margin-top: 80px !important;
	}
}
@media (max-height: 719px) {
	content {
        margin-top: 60px !important;
	}
}
@media (max-height: 640px) {
	content {
        margin-top: 10px !important;
	}
}
/* desktops/hi-dpi */
@media (min-width: 701px) {
	mobileonly {
		display: none !important;
	}
	desktoponly {
		display: inline !important;
	}
	content {
		padding-left: 266px;
        margin-top: 40px !important;
	}
}

/* mobiles / low-dpi */
@media (min-width: 700px) {
    @media (min-height: 720px) {
        content {
            padding-left: 266px;
            margin-top: 10% !important;
        }
    }
}
@media (max-width: 700px) {
	mobileonly {
		display: inline !important;
	}
	desktoponly {
		display: none !important;
	}
	aboutme {
		padding-top: 48px !important;
	}
	aboutme > div {
		padding-left: 10% !important;
		padding-right: 10% !important;
	}
	aboutme > img {
		margin-left: auto;
		margin-right: auto;
	}
	content {
		padding: 40px 0px 44px 0px !important;
	}
	content > view {
	}
	
	nav {
		top: initial !important;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100% !important;
		min-width: 100% !important;
		max-width: 100% !important;
		height: 44px;
		display: flex !important;
		padding-top: 4px;
	}
	
	nav > a {
		width: 25%;
		text-align: center;
		font-size: 10px;
		font-weight: 400;
		padding: 0px !important;
	}
	
	nav > a > icon {
		display: block !important;
	}
	
	nav > a > sub {
		display: none !important;
	}

}


























